.align-left{
    margin-left:14px;
}
.btn-group button{
    margin-top:24px;
}
ul li {
  display: inline-block;
}
.fade{
    font-size: 20px;
}
.form-control{
    height: 28px;
}
.occurence td {
    border-top: none;
}
.occurence th{
    border-bottom: none;
}
.p-l-0
{
padding-left: 0px
} 
.margin-right-3
{
    margin-right: 3px;
} 
tr th{
    padding:10px;
}
tr td{
    padding:10px;
}
/* .control .occur{
    margin-left:245px;
    margin-right:65px;
} */

.footer{
    margin-top:250px;
}
.margin-10{
    margin-top:10px;
}
.m-r-3
{
    margin-right:3px;
}
.p-0
{
    padding: 0px;
}
.p-15
{
    padding: 15px;
}
.p-t-15
{
    padding-top: 15px;
}
.inline-grid
{
    display: inline-grid;
}
.scenario-field
{
    padding: 5px;
    display: flow-root;
    font-size: 14px;
}
.scenario-panel
{
    background-color:rgb(227, 230, 233);
     padding:8px;
     border-top:1px solid rgb(175, 170, 170);
}
.scenario-button
{
    padding-top: 15px;
    font-size: 13px;
    color: #29BC9A;
}

.form-control{
    height: 28px;
}
.form-control{
    padding: 2px 12px;
}
.padding{
    padding : 0px 8px;
}